CONFIG_PSTAR_KCONFIG_BUS_COMPONENT_ENABLED=y
CONFIG_PSTAR_KCONFIG_ERROR_HANDLER_ENABLED=y
CONFIG_PSTAR_KCONFIG_LOGGING_ENABLED=y
CONFIG_PSTAR_KCONFIG_STORAGE_HAL_ENABLED=y
CONFIG_PSTAR_KCONFIG_TIME_MANAGER_ENABLED=y
CONFIG_PSTAR_KCONFIG_FILE_MANAGER_ENABLED=y
CONFIG_PSTAR_KCONFIG_PIN_VALIDATOR_ENABLED=y
CONFIG_PSTAR_KCONFIG_PIN_VALIDATOR_AUTO_INIT=y
CONFIG_PSTAR_KCONFIG_PIN_VALIDATOR_VALIDATE_AT_STARTUP=y
CONFIG_PSTAR_KCONFIG_PIN_VALIDATOR_PRINT_ASSIGNMENTS=y
CONFIG_PSTAR_KCONFIG_PIN_VALIDATOR_HALT_ON_CONFLICT=y
