# components/pstar_error_handler/Kconfig

menu "Project Star: Error Handling Configuration"

    config PSTAR_KCONFIG_ERROR_HANDLER_ENABLED
        bool "Enable Error Handling Component"
        default y
        help
            Enable the Project Star Error Handling component, which provides
            a unified way to handle and recover from errors.
            
endmenu
