# components/pstar_pin_validator/Kconfig

menu "Project Star: Pin Validator"

		config PSTAR_KCONFIG_PIN_VALIDATOR_ENABLED
				bool "Enable Pin Validator"
				default y
				help
						Enable the pin validation system to detect pin assignment conflicts
						across all compoents.

endmenu
